<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/nonna/Desktop/apigit/APItestFramework/src/test/java/CreateUser.java">
       <classes>
           <class name="CreateUser"/>
           <class name="UpdateUser"/>
           <class name="GetUser" />
        </classes>
    </test>
</suite>